<a href="https://colab.research.google.com/github/Shashankvuddagiri/AIML-Project-2320030343/blob/main/PythonBasics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World");

Hello World

In [ ]:
a=float(input("enter first number"))
b=float(input("enter second number"))

print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a**b)
print(a//b)
print(a%b)

enter first number30
enter second number4
34.0
26.0
120.0
7.5
810000.0
7.0
2.0

In [ ]:
#comparision operators
a=20
b=30
c=20
print(a==b)
print(a==c)
print(a>c)
print(c<=a)
print(a<=b)
print(b>=c)
print(a is not c)

False
True
False
True
True
True
False

In [ ]:
a=30
b=4
a+=b
print(a)
a-=b
print(a)
a*=b
print(a)

34
30
120

In [ ]:
#Logical operators
a=30
b=20
print(a==b or a>b)
print(a<b and a==b)
print(not(a!=b))

True
False
False

In [ ]:
#identity operators
a=20
b=30
c=20
print(a is c)
print(b is c)
print(a is not c)

True
False
False

In [ ]:
#Membership operators
lst=[1,2,3,"hello"]
print(1 in lst)
print(5 not in lst)
print("hello" not in lst)

True
True
False

In [ ]:
n=5
fact=1
while(n!=0):
  fact=fact*n
  n=n-1
print(fact)

120

In [ ]:
#lists
# a list is a heterogenous datatype
lst=[1,2,3,4,4.5,True,"hello"]
print(lst)

[1, 2, 3, 4, 4.5, True, 'hello']

In [ ]:
#conditional statements
#simple if and elif
a=20
b=20
if a>b:
  print(a)
elif a<b:
  print(b)
else:
  print("equal")

equal

In [ ]:
#and and or operators in conditions
a=30
b=40
c=30
if not a>c:
  print(c)
if b>a or c>b:
  print(a)
if a>b and a>c:
  print(a)
if b>a and b>c:
  print(b)
if c>a and c>b:
  print(c)

30
30
40

In [ ]:
a=30
b=40
c=30
if  not a>c:
  print(c)
  if b>a or c>b:
    print(a)
    if a>b and a>c:
      print(a)

30
30

In [ ]:
n=int(input("enter the range"))
oddlst=[]
evenlst=[]
for i in range(1,n+1):
  if i % 2 ==0:
    evenlst.append(i)
  else:
    oddlst.append(i)
print(evenlst)
print(oddlst)

enter the range10
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [ ]:
n=int(9)
for i in range(1,n+1):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
# list operations
lst=[]
lst.append(10)
print(lst)
lst.append(20)
print(lst)
lst.append(5)
print(lst)
lst.sort()
print(lst)
lst.remove(10)
print(lst)
lst.append(15)
print(lst)
lst
lst.pop()
print(lst)
lst
lst.insert(2,30)
print(lst)
lst.reverse()
print(lst)
lst.append(20)
print(lst)
lst.count(20)

lst+lst

lst*2

lst.index(20)

min(lst)

max(lst)

[10]
[10, 20]
[10, 20, 5]
[5, 10, 20]
[5, 20]
[5, 20, 15]
[5, 20]
[5, 20, 30]
[30, 20, 5]
[30, 20, 5, 20]

30